matplotlib
streamlit==1.15.2
torch
pandas_profiling
scikit-image
lime
tqdm
xgboost
lightgbm
shap==0.40.0
openTSNE==0.6.0
torchvision
bokeh==2.4.3
deepchecks
pandas
numpy
streamlit-pandas-profiling
streamlit-shap
tensorflow
opencv-contrib-python-headless
grad-cam
clip
keras
streamlit_option_menu
fiftyone